@{
    ViewData["Title"] = "The Creators";
}

<div class="hero">
    <picture>
        <source srcset="images/yola-small.webp" media="(max-media: 500px)">
        <source srcset="images/yola-medium.webp" media="(max-width: 1000px)">
        <img src="images/yola-large.webp" alt="yola-img" width="1500" height="750">
    </picture>
    <span class="home-btn"> <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Create"> JOIN </a> </span>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h4>Yola University - Home of Creators</h4>
        <p>
            Yola University, The Home of Creators, fosters an innovative
            entrepreneurial environment where students are engineered to
            unleash their creativity and shape the future in front of them.

        </p>
    </div>
    <div class="col-md-4">
        <h4>Our Pride</h4>
        <p>
            "At Yola, we take pride in being a home for creative minds, empowering our students to become
            visionaries in their fields through cutting-edge education and inspiration."
        </p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>What We Offer</h4>
        <p>
            "Explore limitless possiblities at Yola University,
            where our vibrant community thrives as the Home of Creators,
            nurturing talents and fostering a culture of innovative entrepreneurialism"
        </p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>

